.create-comment>.form>textarea {
    resize: none;
    width: 100px;
    height: 100px;
    margin-top: 22px;
    margin-bottom: 28px;
    padding: 5px;
}

.details-comments {
    display: table-cell;
}

.create-comment {
    margin-top: 60px;
    position: relative;
    text-align: center;
    width: 700px;
    height: auto;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #6f5d9c;
    box-shadow: 0px 0px 32px 0px #32485e, -14px -14px 20px #191c21;
}

.create-comment>label {
    color: white;
    font-size: 28px;
    text-align: center;
    font-weight: 700;
    line-height: normal;
}

.info-section>.details-comments li {
    width: 400px;
    display: inline-block;
    position: static;
    margin: 20px auto 25px auto;
    box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2), 12px 12px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 16px;
    margin-left: 60px;
    background: #6f5d9c;
    color: white;
}

.comment p {
    padding: 16px;
}


.create-comment>.button:hover {
    background-color: #41425c;
    color: white;
    cursor: pointer;
}