body {
    width: 740px;
    background-color: #e4e978;
}

article {
    background-color: #f2f4c0;
    border: 1px solid #b2ad7d;
    padding: 5px 15px;
    margin: 15px 10px;
}

section {
    color: #4c7658;
    font-style: italic;
}

article > h1 {
    font-size: 1.5rem;
}

article > h2 {
    font-size: 1.1rem;
}