body {
    margin: 10rem
}

body,
ul,
li {
    display: flex;
    background-color: #eee;
}

ul {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}


img {
    background-color: #fff;
    border: 10px solid #111;
    padding: 2rem 1rem;
    object-fit: contain;
}