<div class="full-screen">
    <div class='con-not-found'>
        <span class="error-num">4</span>
        <div class='eye'></div>
        <span class="error-num">4</span>

        <p class="sub-text">Something went wrong. We're <span class="italic">looking</span> to see what happened.</p>
        <p>Go Back to <a href="/">Home</a></p>
    </div>
</div>