<section id="home">
    <div class="home-container">

        <div class="short-info">
            <h1>The best of the wildlife photography.</h1>
            <h2>Share knowledge about the environment and enrich your life.</h2>
        </div>

    </div>
</section>

<section id="home-page">

    <div class="offers">
        <div class="col container"><img src="/static/img/nature1.jpg" alt="nature_1"></div>
        <div class="col container"><img src="/static/img/nature2.jpg" alt="nature_2"></div>
        <div class="col container"><img src="/static/img/nature3.jpg" alt="nature_3"></div>
        <div class="col container"><img src="/static/img/nature4.jpg" alt="nature_4"></div>
    </div>

</section>