<section id="login-page">

    <div class="loginSection">
        <div class="info">
            <h2>Welcome, again!</h2>
            <p>View new posts.</p>
        </div>
        <form method="POST" class="loginForm">
            <h2>Login</h2>
            <ul class="noBullet">
                <li>
                    <label for="email">Email:</label>
                    <input type="text" class="inputFields" id="email" name="email" placeholder="alex@gmail.com" value="{{body.email}}"/>
                </li>
                <li>
                    <label for="password">Password:</label>
                    <input type="password" class="inputFields" id="password" name="password" placeholder="*******" />
                </li>

                <li id="center-btn">
                    <button id="login-btn">Login</button>
                </li>
            </ul>
        </form>
    </div>

</section>