.profile-card {
  width: 420px;
  overflow: hidden;
  text-align: center;
  position: relative;
  box-shadow: 0 0 10px #00000070;
  margin: 0 auto;
  margin-top: 50px;
}

.top-section {
  padding: 60px 40px;
  background: #27ae60;
}

.message,
.notif {
  position: absolute;
  top: 40px;
  font-size: 20px;
  cursor: pointer;
  color: #ffffff50;
}

.message {
  right: 40px;
}

.notif {
  left: 40px;
}

.pic {
  width: 150px;
  height: 150px;
  margin: auto;
  margin-bottom: 20px;
  border: 2px solid #ff6d51;
  border-radius: 50%;
  padding: 8px;
  position: relative;
}

.pic:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border: 1px solid #ff6d51;
  left: 0;
  top: 0;
  box-sizing: border-box;
  border-radius: 50%;
}

.pic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.name {
  color: #f1f1f1;
  font-size: 28px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.email {
  font-size: 18px;
  color: #222;
}

.bottom-section {
  background: #f1f1f1;
  padding: 60px 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  text-transform: uppercase;
}

.border {
  width: 1px;
  height: 20px;
  background: #bbb;
  margin: 0 30px;
}

.bottom-section span {
  font-size: 14px;
  display: block;
}

.social-media {
  position: absolute;
  width: 100%;
  top: -30px;
  left: 0;
  z-index: 1;
}

.social-media i {
  width: 60px;
  height: 60px;
  background: #ff6d51;
  border-radius: 50%;
  color: #f1f1f1;
  font-size: 20px;
  line-height: 60px !important;
  margin: 0 10px;
  position: relative;
}

.social-media i:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: #ff6d51;
  left: 0;
  top: 0;
  box-sizing: border-box;
  border-radius: 50%;
  z-index: -1;
  transition: 0.4s linear;
}

.social-media i:hover:after {
  transform: scale(1.4);
  opacity: 0;
}

.wish-books {
  width: 100rem;
  position: relative;
  margin: 0 auto;
  margin-top: 15px;
  box-shadow: 0 0 10px #00000070;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
  background-color: #f1f1f1;
  opacity: 0.9;
}

.book {
  background-color: #27ae60;
  border-radius: 30px;
  margin: 20px 30px;
  margin-bottom: 10px;
  width: 25rem;
  height: 48rem;
  position: relative;
  color: rgb(19, 66, 27);
  box-shadow: 0 0 10px #00000070;
}

.info-container-profile img {
  width: 100%;
  height: 40rem;
  border-radius: 30px;
}

.no-record-in-profile {
  font-size: 30px;
  font-style: italic;
  border: 1px solid rgba(0, 0, 0, 0.556);
  padding: 20px;
  margin: 3%;
}