.register-form-container {
  background: url(../image/banner-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.register-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100%;
  width: 100%;
}

.register-form-container.active {
  right: 0;
}

.register-form-container form {
  background: #fff;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  width: 40rem;
  padding: 2rem;
  box-shadow: 0 0 10px #00000070;
  border-radius: 0.5rem;
  margin-bottom: 10rem;
}

.register-form-container form h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #444;
  text-align: center;
}

.register-form-container form label {
  display: block;
  font-size: 1.5rem;
  padding-top: 1rem;
}

.register-form-container form .box {
  width: 100%;
  margin: 0.7rem 0;
  font-size: 1.6rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 1rem 1.2rem;
  color: #444;
  text-transform: none;
}

.register-form-container form .btn {
  text-align: center;
  width: 100%;
  margin: 1.5rem 0;
}

.register-form-container form p {
  padding-top: 0.8rem;
  color: #666;
  font-size: 1.5rem;
}

.register-form-container form p a {
  color: #27ae60;
  text-decoration: underline;
}

.register-form-container #close-login-btn {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  font-size: 5rem;
  color: #444;
  cursor: pointer;
}
