<form method="POST">
	<h2>Login</h2>

	<div>
		<label for="username">Username:</label>
		<input type="text" placeholder="Username" name="username" value="{{body.username}}" />
	</div>
	
	<div>
		<label for="password">Password:</label>
		<input type="password" placeholder="Password" name="password" />
	</div>

	<button class="btn" type="submit">Login</button>
</form>
