<form method="POST">
	<h2>Register</h2>
	
	<div class="on-dark">
		<label for="username">Username:</label>
		<input type="text" placeholder="Steven" name="username" value="{{body.username}}"/>
	</div>

	<div class="on-dark">
		<label for="password">Password:</label>
		<input type="password" placeholder="********" name="password" />
	</div>

	<div class="on-dark">
		<label for="repeatPassword">Repeat Password:</label>
		<input type="password" placeholder="********" name="repass" />
	</div>

	<button class="btn" type="submit">Register</button>
</form>
