<section class="container">
    <h1>My Theater Info</h1>
    <p>Lorem reprehenderit nostrud do do ut ad irure aliquip anim adipisicing nulla ullamco. Non mollit
        Lorem sunt proident nostrud dolore est minim reprehenderit adipisicing consectetur dolore.
        Nostrud id amet ad irure irure aute ad veniam deserunt mollit sint pariatur. Velit quis amet
        aliquip tempor. Dolore culpa deserunt proident nostrud amet consectetur.
        Exercitation exercitation pariatur deserunt duis. Elit duis aute do ullamco fugiat magna officia
        ad. Pariatur nulla ut pariatur Lorem pariatur incididunt eu excepteur sint qui. Amet esse et
        eiusmod officia fugiat aliquip ullamco laboris sint cillum cillum. Elit proident mollit officia
        tempor aliquip non ea occaecat sunt eiusmod enim nulla anim. Voluptate laborum consequat elit
        quis cupidatat tempor ad laboris duis non eiusmod.</p>
</section>
<section>
    <div class="aux">
        <h1>Available Plays</h1>
        <div class="home-buttons">
            <a class="btn create-play" href="/plays/create">Create Theater</a>
            <a class="btn create-play" href="/plays/sortbydate">Sort by Date</a>
            <a class="btn create-play" href="/plays/sortbylikes">Sort by Likes</a>
        </div>
    </div>
    <div class="theaters-container">
        {{#if plays}}
            {{#each plays}}
                {{>userPlay}}
            {{/each}}
        {{else}}
            <h4>No plays yet...</h4>
        {{/if}}
    </div>
</section>