@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

body {
    font-family: 'Courgette', cursive;
    background-color: #f5f5f5;
}

.wrapper {
    max-width: 1740px;
    margin: 0 auto;
    text-align: center;
    padding: 5rem;
}

.wrapper > h1 {
    font-size: 5rem;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}

.wrapper > p {
    font-size: 2rem;
    letter-spacing: 4px;
    margin-left: 21rem;
    color: #cb2027;
    font-weight: 700;
    margin-bottom: 3rem;
}

.cards {
    display: flex;
    gap: 2.5rem;
}

.cards article {
    border-radius: 1rem;
    background-color: #fff;
    overflow: hidden;
    width: 33%;
}


.cards article .image-container img {
    object-fit: cover;
    width: 100%;
    height: 280px;
}

.cards article .text-container {
    padding: 1.3rem;
}

.cards article .text-container h2 {
    font-size: 2.2rem;
    font-weight: 700;
    padding-bottom: 1.5rem;
    border-bottom: 2px solid #cb2027;
}

.cards article .text-container > p {
    font-size: 1.5rem;
    line-height: 1.3;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

.cards article .text-container > p.big-margin {
    margin-bottom: 5rem;
}

.cards article .link {
    align-self: flex-end;
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 1.5rem;
}

.cards article .link a svg {
    fill: #cb2027;
}