<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>MongoDB Demo{{title}}</title>
		<style>
			ul { list-style-type: none; } header, footer { background-color:
			#ccc; padding: 4px 16px; } main { padding: 16px; } li { margin:
			32px; box-shadow: 0 0 16px 8px rgba(0, 0, 0, 0.2); } label {
			display: block; } textarea { display: block; }
		</style>
	</head>
	<body>
		<nav>
			<a href='/'>Home</a>
			<a href='/articles'>Articles</a>
		</nav>
		{{{body}}}
	</body>
</html>