<section class="home" id="home">

    <div class="row">

        <div class="content">
            <h3>Book Talk</h3>
            <p>The purpose of a book talk is to “sell” the book you just read. Think of it as a commercial or movie
                trailer for the book. You will create a 2-3 minute talk about a book that includes just enough plot,
                character, setting, and conflict information to interest other students in the classroom. The main
                purpose of a book talk is to grab an audience's attention and make them want to read the book.</p>
            <a href="/catalog" class="btn">See All</a>
        </div>

        <div class="swiper books-slider">
            <div class="swiper-wrapper">
                <img src="/static/image/book-1.png" alt="book1"></a>
                <img src="/static/image/book-2.png" alt="book2"></a>
                <img src="/static/image/book-3.png" alt="book3"></a>
                <img src="/static/image/book-4.png" alt="book4"></a>
                <img src="/static/image/book-5.png" alt="book5"></a>
                <img src="/static/image/book-6.png" alt="book6"></a>
            </div>
            <img src="/static/image/stand.png" class="stand" alt="stand">
        </div>

    </div>

</section>