<section class="login-form-container">

    <form method="POST">
        <h3>Login</h3>

        <label for="email">Email</label>
        <input type="email" name="email" class="box" id="email" value="{{body.email}}">

        <label for="password">Password</label>
        <input type="password" name="password" class="box" id="password">

        <input type="submit" value="Login" class="btn">

        <p>Don't have an account ? <a href="/auth/register">Create one</a></p>
    </form>
</section>