<header>
  <nav>
    <ul class="mb-3 flex flex-col flex-wrap pl-0 md:flex-row">

      <!-- ALL USERS -->
      <li class="flex-grow basis-0 text-center">
        <a routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="hover:text-green-600 my-2 block rounded bg-neutral-100 px-6 pb-3 pt-3 text-sm font-medium uppercase leading-tight dark:bg-neutral-700 dark:text-white md:mr-4 ml-4"
          >Home <i class="ml-2 fa-solid fa-house"></i></a> 
      </li>
      <li class="flex-grow basis-0 text-center">
        <a routerLink="/players"
          routerLinkActive="active"
          class="hover:text-green-600 my-2 block rounded bg-neutral-100 px-6 pb-3 pt-3 text-sm font-medium uppercase leading-tight dark:bg-neutral-700 dark:text-white md:mr-4"
          >Players <i class="ml-2 fa-solid fa-futbol"></i></a>
      </li>
      <li class="flex-grow basis-0 text-center">
        <a routerLink="/search"
          routerLinkActive="active"
          class="hover:text-green-600 my-2 block rounded bg-neutral-100 px-6 pb-3 pt-3 text-sm font-medium uppercase leading-tight dark:bg-neutral-700 dark:text-white md:mr-4"
          >Search <i class="ml-2 fa-solid fa-magnifying-glass"></i></a>
      </li>

      <!-- LOGGED IN USERS -->
      <ng-container *ngIf="isLogged">
        <li class="flex-grow basis-0 text-center">
          <a routerLink="/add"
            routerLinkActive="active"
            class="hover:text-green-600 my-2 block rounded bg-neutral-100 px-6 pb-3 pt-3 text-sm font-medium uppercase leading-tight dark:bg-neutral-700 dark:text-white md:mr-4"
            >Add <i class="ml-2 fa-solid fa-plus"></i></a>
        </li>
        <li class="flex-grow basis-0 text-center">
          <a routerLink="/profile"
            routerLinkActive="active"
            class="hover:text-green-600 my-2 block rounded bg-neutral-100 px-13 pb-3 pt-3 text-sm font-medium uppercase leading-tight dark:bg-neutral-700 dark:text-white md:mr-4"
            >{{ userEmail }} <i class="ml-2 fa-solid fa-user"></i></a>
        </li>
        <li class="flex-grow basis-0 text-center">
          <a (click)="logout()"
            class="cursor-pointer hover:text-green-600 my-2 block rounded bg-neutral-100 px-6 pb-3 pt-3 text-sm font-medium uppercase leading-tight dark:bg-neutral-700 dark:text-white md:mr-4"
            >Logout <i class="ml-2 fas fa-sign-out-alt"></i></a>
        </li>
      </ng-container>

      <!-- NOT LOGGED IN USERS -->
      <ng-container *ngIf="!isLogged">
        <li class="flex-grow basis-0 text-center">
          <a routerLink="/login"
            routerLinkActive="active"
            class="hover:text-green-600 my-2 block rounded bg-neutral-100 px-6 pb-3 pt-3 text-sm font-medium uppercase leading-tight dark:bg-neutral-700 dark:text-white md:mr-4"
            >Login <i class="ml-2 fas fa-sign-in-alt"></i></a>
        </li>
        <li class="flex-grow basis-0 text-center">
          <a routerLink="/register"
            routerLinkActive="active"
            class="hover:text-green-600 my-2 block rounded bg-neutral-100 px-6 pb-3 pt-3 text-sm font-medium uppercase leading-tight dark:bg-neutral-700 dark:text-white md:mr-4"
            >Register <i class="ml-2 fas fa-user-plus"></i></a>
        </li>
      </ng-container>

    </ul>
  </nav>
</header>
