<section>
	<h1>New Accomodation</h1>
	<main>
		<form class="aligned" method='post' action='/create'>
			<label><span>Name</span><input type="text" name="name"></label>
			<label><span>City</span><input type="text" name="city"></label>
			<label><span>Beds</span><input type="number" name="beds"></label>
			<label><span>Price per night</span><input type="number" name="price"></label>
			<label><span>Image URL</span><input type="text" name="imgUrl"></label>
			<label><span>Description</span><textarea name="description"></textarea></label>
            <button>Create Accomodation</button>
		</form>
	</main>
</section> 