<section>
	{{#with room}}
		<h1>{{name}} - Details</h1>
		<main>
			<div>
				<img src='{{imgUrl}}' alt='hotel-room' />
			</div>
			<p>{{description}}</p>
			<p><strong>Price per night: {{price}}€</strong></p>
		</main>
	{{/with}}
</section>