#details-wrapper {
  background-color: white;
  margin: 50px auto;
  height: 71%;
  width: 60%;
  border: 2px ridge rgb(210, 208, 208);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.24);
}

#details-wrapper img {
  display: block;
  margin: 10px auto;
  height: 30vh;
  width: 50vh;
}

#details-title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

#details-category {
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}

#details-price {
  text-align: center;
  font-weight: bold;
  font-size: 13px;
}

/* #info-wrapper {
  padding: 0;
  margin-top: -150px;
} */

#details-description {
  width: 85%;
  margin: 30px auto;
  height: auto;
  text-align: center;
}


h4 {
  text-align: center;
}

p {
  text-align: center;
  font-size: 19px;
}

span {
  font-size: 17px;
}

#action-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  
}

#action-buttons a {
  text-decoration: none;
  margin: auto 50px;
  font-size: 21px;
  width: 130px;
  padding: 10px;
  text-align: center;
  color: white;
  background: rgb(231, 103, 124);
  border-radius: 5px;
}
