@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  background: rgb(248, 231, 234);
  max-width: 440px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;

  padding: 45px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form h2 {
  margin-bottom: 50px;
  font-size: 30px;
}

.form input {

  outline: 0;
  background: #f2f2f2;
  width: 100%;
  height: 50px;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form textarea {
  border: 1px solid rgb(206, 206, 206);
  width: 99%;
  max-width: 99%;
  min-width: 99%;
  min-height: 50px;
  margin-bottom: 10px;
  background-color: rgb(242, 242, 242);
}
.form button {
  font-family: 'Alkalami', serif;
  font-family: 'Kaushan Script', cursive;
  text-transform: uppercase;
  outline: 0;
  background: rgb(231, 103, 124);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  
}
.form button:hover,
.form button:active,
.form button:focus {
  background: #bd2c2c;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before,
.container:after {
  content: "";
  display: block;
  clear: both;
}

.form .message {
  margin: 15px 0 0;
  color: #6b6767;
  font-size: 17px;
}
.form .message a {
  color: #bd2c2c;
  text-decoration: none;
}
