body {
  display: flex;
}

div {
  background: lightblue;
  width: 200px;
  height: 200px;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 2px solid black;
  font-weight: bold;
  text-align: center;
}
