@import url('https://fonts.googleapis.com/css2?family=Orienta&family=Righteous&display=swap');

body {
    background-color: darkred;
    max-width: 677px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-family: 'Righteous', cursive;
    font-size: 45px;
    font-weight: normal;
    line-height: 60px;
    color: #fff;
}

h2 {
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -1px;
    color: #dfbf84;
}

p {
    font-family: 'Orienta' ,sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #f6f6f6;
}

h1, h2 {
    text-transform: uppercase;
}