<h1>Create New Product</h1>
<form action="/create" method="post">
<label><span>Name</span><input type="text" name="name"></label>
<label><span>Price</span><input type="number" name="price"></label>
<input type="submit" value="Create">
</form>