<h1>Confirm Deleting Product</h1>
<h2>{{name}}</h2>
<p>List price: ${{price}}</p>
<form action="/delete/{{id}}" method="post">
    <input type="submit" value="Delete Product">
</form>
<a href="/catalog/{{id}}">Cancel</a>