<section id="home-page" class="py-5">
    <div style="height: 15vh;"></div>
    <div class="container home">
        <h1>Shared Trip</h1>
        <div>
            <p class="lead">"Because the greatest part of a road trip isn't arriving at your destination."</p>
            <p class="lead">"It's all the wild stuff that happens along the way..."</p>
        </div>
    </div>
</section>