<div [ngClass]="!players ? 'h-screen' : ''" class="relative bg-cover bg-no-repeat bg-cover bg-[url('/assets/field.jpg')]">
  <h1 class="block text-white mb-5 pt-2 text-3xl font-medium leading-tight flex items-center justify-center">My players</h1>
    <section class="ml-2 mb-5 flex list-none flex-col flex-wrap pl-0 md:flex-row gap-5 justify-around">

      <!-- SERVER ERROR -->
      <div *ngIf="errorMessage" class="block text-sm font-medium text-gray-900 dark:text-white">
        {{ errorMessage }} <i class="fa-solid fa-xmark"></i>
      </div>
      
      <ng-container *ngIf="players; else loading">
        <ng-container *ngIf="players.length > 0; else noPlayers">
          <ng-container *ngFor="let player of players">
            <!-- PLAYER CARD -->
            <div class="duration-500 hover:animate-[pulse_1s_ease-in-out] max-w-lg shadow-2xl hover:scale-105 block rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
              <div class="relative overflow-hidden bg-cover bg-no-repeat">
                <img class="object-cover object-center rounded-t-lg h-96 w-96" src="{{ player.image }}" alt="{{ player.name }}"/>
              </div>
              <div class="p-6">
                <h5 class="mb-6 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50">
                  Name: {{ player.name }}
                </h5>
                <p class="mb-10 text-base text-neutral-600 dark:text-neutral-200">
                  Age: {{ player.age }}
                </p>
                <a [routerLink]="['/players', 'details', player._id]"
                  class="cursor-pointer dark:md:hover:bg-green-600 border-2 border-neutral-50 rounded bg-neutral-100 px-7 pb-3.5 pt-4 text-sm font-medium uppercase leading-tight dark:bg-neutral-700 dark:text-white">
                  More info
                </a>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>
      
      <!-- NO RESULTS -->
      <ng-template #noPlayers>
        <h1 class="block px-10 text-white bg-opacity-20 bg-black text-6xl font-medium leading-tight h-screen flex flex-col items-center justify-center">
          No added players yet! Add your first player.
          <a routerLink="/add"
          class="cursor-pointer md:hover:bg-green-600 inline-block rounded border-2 border-neutral-50 px-12 pb-[8px] pt-2
          text-base font-medium uppercase leading-normal text-neutral-50 transition duration-450 ease-in-out">
                  Add
                </a>
        </h1>
      </ng-template>
      
      <!-- LOADER -->
      <ng-template #loading>
        <app-loader></app-loader>
      </ng-template>
      
    </section>
  </div>
  
