.flex-container {
  display: flex;
  justify-content: center;
  background-color: DodgerBlue;
  width: 300px;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
