<section id="edit-container">
    <div class="edit-container-info">
        <img src="/static/style/img/blog-img12.jpg" alt="image">

        <form method="POST" class="container-text">
            <h2>Edit</h2>
            <p>Edit your masterpiece!</p>

            <label for="title">Title:</label>
            <input type="text" id="title" name="title" value="{{publication.title}}">

            <label for="painting-tech">Painting technique:</label>
            <input type="text" id="painting-tech" name="technique" value="{{publication.technique}}">

            <label for="picture">Art picture:</label>
            <input type="text" id="picture" name="picture" value="{{publication.picture}}">

            <label for="certificate">Certificate of authenticity:</label>
            <input type="text" id="certificate" name="certificate" value="{{publication.certificate}}">

            <button class="edit-btn">Edit</button>
        </form>

    </div>
</section>