<section id="login-container">

    <div class="container">
        <img src="/static/style/img/slider.jpg" alt="image">

        <form method="POST" class="container-text">
            <h2>Login</h2>
            <p>Welcome, see the new masterpieces!</p>

            <label for="username">Username:</label>
            <input type="text" id="username" placeholder="ivan_00" name="username" value="{{body.username}}">

            <label for="password">Password:</label>
            <input type="password" id="password" placeholder="*****" name="password">

            <button class="login-btn">Login</button>
            <div class="card-no-account">
                <p>Don't have an account? <a href="/auth/register">Sign up</a>.</p>
            </div>

        </form>
    </div>

</section>