<article class="all-ads-card">
    <article class="all-ads-card-image">
        <img src="/static/img/job-icon1.png" alt="job-icon">
    </article>
    <article class="all-ads-card-content">
        <h2>{{headline}}</h2>
        <h3>Company Name: {{name}}</h3>
        <article class="all-ads-card-content-item">
            <img src="/static/img/map-icon.png">
            <p>Location {{location}}</p>
        </article>
    </article>

    <article class="all-ads-card-buttons">
        <a href="/ads/{{_id}}/details" class="btn-details">Details</a>
    </article>
</article>