form > h2 {
  font-weight: bold;
}

.registerForm {
  display: inline-block;
  text-align: center;
  position: relative;
  width: 350px;
  height: 550px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #cf370991;
  box-shadow: 14px 14px 30px #464a4e, -14px -14px 30px #464a4e;
  justify-content: center;
}

#registerPage {
  display: block;
  text-align: center;
}
