<main id="catalog">
    <section class="game-market">
        <h1>Game Trade Code</h1>
        {{#if games}}
            <div class="offer-list">
                {{#each games}}
                    {{>game}}
                {{/each}}
            </div>
        {{else}}
            <div class="no-offer">
                <p>There are no game offers found!</p>
            </div>
        {{/if}}
    </section>
</main>