<main id="register">
    <div class="register-box">
        <h1>Register</h1>
        <h4>It's free and only take a minute</h4>
        <form method="POST">

            <label>Username</label>
            <input type="text" name="username" placeholder="Username.." value="{{body.username}}"/>

            <label>Email</label>
            <input type="text" name="email" placeholder="Email.." value="{{body.email}}"/>

            <label>Password</label>
            <input type="password" name="password" placeholder="Password.." />

            <label>Confirm Password</label>
            <input type="password" name="repass" placeholder="Confirm Password.." />

            <input type="submit" value="Submit" />
        </form>
        <p>Already have an account? <a href="/auth/login">Login here</a></p>
    </div>
</main>