<div [ngClass]="!player ? 'h-screen' : ''" class="relative bg-cover bg-no-repeat bg-[url('/assets/field.jpg')]">
  <section class="ml-2 mb-5 flex list-none flex-col flex-wrap pl-0 md:flex-row gap-5 justify-around">
    
    <!-- SERVER ERROR -->
    <div *ngIf="errorMessage" class="block text-sm font-medium text-gray-900 dark:text-white">
      {{ errorMessage }} <i class="fa-solid fa-xmark"></i>
    </div>

    <ng-container *ngIf="player; else loading">
      <!-- PLAYER CARD -->
      <div class="duration-500 hover:animate-[pulse_1s_ease-in-out] max-w-lg shadow-2xl hover:scale-105 block rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
        <div class="relative overflow-hidden bg-cover bg-no-repeat">
          <img class="object-cover object-center rounded-t-lg h-96 w-96" [src]="player.image" [alt]="player.name"/>
        </div>
        <div class="p-6">
          <h5 class="mb-6 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50 flex justify-between">
            Name: {{ player.name }} <span>Likes: {{ likes$ | async }}</span>
          </h5>
          <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
            Age: {{ player.age }}
          </p>
          <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
            Club: {{ player.club }}
          </p>
          <p class="mb-8 text-base text-neutral-600 dark:text-neutral-200">
            Position: {{ player.position }}
          </p>
          
          <!-- EDIT & DELETE BUTTONS -->
          <ng-container *ngIf="isOwner">
            <div class="ml-2 mb-5 flex list-none flex-col flex-wrap pl-0 md:flex-row gap-5 justify-around">
              <a [routerLink]="['/players', 'edit', player._id]"
                class="cursor-pointer dark:md:hover:bg-green-600 border-2 border-neutral-50 rounded bg-neutral-100 px-7 pb-3.5 pt-4 text-sm font-medium uppercase leading-tight dark:bg-neutral-700 dark:text-white">
                Edit <i class="ml-2 fas fa-pen"></i>
              </a>
              <a href="javascript:void(0)" (click)="deletePlayer(player._id)"
                class="cursor-pointer dark:md:hover:bg-green-600 border-2 border-neutral-50 rounded bg-neutral-100 px-7 pb-3.5 pt-4 text-sm font-medium uppercase leading-tight dark:bg-neutral-700 dark:text-white">
                Delete <i class="ml-2 fas fa-trash"></i>
              </a>
            </div>
          </ng-container>

          <!-- LIKE & ALREADY LIKED BUTTONS -->
          <ng-container *ngIf="!isOwner && isLogged">
            <div *ngIf="(canLike$ | async) == 0" class="ml-2 mb-5 flex list-none flex-col flex-wrap pl-0 md:flex-row gap-5 justify-around">
              <a href="javascript:void(0)" (click)="likePlayer(player._id)"
                class="cursor-pointer dark:md:hover:bg-green-600 border-2 border-neutral-50 rounded bg-neutral-100 px-7 pb-3.5 pt-4 text-sm font-medium uppercase leading-tight dark:bg-neutral-700 dark:text-white">
                Like <i class="ml-2 fas fa-heart"></i>
              </a>
            </div>

            <div *ngIf="(canLike$ | async) != 0" class="ml-2 mb-5 flex list-none flex-col flex-wrap pl-0 md:flex-row gap-5 justify-around">
              <a href="javascript:void(0)"
                class="dark:md:hover:bg-green-600 border-2 border-neutral-50 rounded bg-neutral-100 px-7 pb-3.5 pt-4 text-sm font-medium uppercase leading-tight dark:bg-neutral-700 dark:text-white">
                Already liked <i class="ml-2 fas fa-check"></i>
              </a>
            </div>
          </ng-container>

        </div>
      </div>
    </ng-container>

    <!-- LOADER -->
    <ng-template #loading>
      <app-loader></app-loader>
    </ng-template>

  </section>
</div>








<button
  type="button"
  class="inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
  data-te-toggle="modal"
  data-te-target="#exampleModal"
  data-te-ripple-init
  data-te-ripple-color="light">
  Launch demo modal
</button>

<!-- Modal -->
<div
  data-te-modal-init
  class="fixed left-0 top-0 z-[1055] hidden h-full w-full overflow-y-auto overflow-x-hidden outline-none"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div
    data-te-modal-dialog-ref
    class="pointer-events-none relative w-auto translate-y-[-50px] opacity-0 transition-all duration-300 ease-in-out min-[576px]:mx-auto min-[576px]:mt-7 min-[576px]:max-w-[500px]">
    <div
      class="min-[576px]:shadow-[0_0.5rem_1rem_rgba(#000, 0.15)] pointer-events-auto relative flex w-full flex-col rounded-md border-none bg-white bg-clip-padding text-current shadow-lg outline-none dark:bg-neutral-600">
      <div
        class="flex flex-shrink-0 items-center justify-between rounded-t-md border-b-2 border-neutral-100 border-opacity-100 p-4 dark:border-opacity-50">
        <!--Modal title-->
        <h5
          class="text-xl font-medium leading-normal text-neutral-800 dark:text-neutral-200"
          id="exampleModalLabel">
          Modal title
        </h5>
        <!--Close button-->
        <button
          type="button"
          class="box-content rounded-none border-none hover:no-underline hover:opacity-75 focus:opacity-100 focus:shadow-none focus:outline-none"
          data-te-modal-dismiss
          aria-label="Close">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-6 w-6">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>

      <!--Modal body-->
      <div class="relative flex-auto p-4" data-te-modal-body-ref>
        Modal body text goes here.
      </div>

      <!--Modal footer-->
      <div
        class="flex flex-shrink-0 flex-wrap items-center justify-end rounded-b-md border-t-2 border-neutral-100 border-opacity-100 p-4 dark:border-opacity-50">
        <button
          type="button"
          class="inline-block rounded bg-primary-100 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-primary-700 transition duration-150 ease-in-out hover:bg-primary-accent-100 focus:bg-primary-accent-100 focus:outline-none focus:ring-0 active:bg-primary-accent-200"
          data-te-modal-dismiss
          data-te-ripple-init
          data-te-ripple-color="light">
          Close
        </button>
        <button
          type="button"
          class="ml-1 inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
          data-te-ripple-init
          data-te-ripple-color="light">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>


<!-- Button trigger modal -->