<li class="item">
    <header class="pad-med">
        <h2>{{title}}</h2>
    </header>

    <div class="align-center">
        <img class="img-thumb" src="{{image}}">
    </div>

    <footer class="align-center pad-med">
        <p>Current price: <strong>${{price}}</strong></p>
        <a class="action" href="/auctions/{{_id}}/details">See details</a>
    </footer>
</li>