<li class="item">
    <header class="pad-med">
        <h2>{{title}}</h2>
    </header>

    <div class="align-center">

        <img class="img-thumb" src="{{image}}">

    </div>

    <footer class="align-center pad-med">
        <p>Closing price: <strong>${{price}}</strong></p>
        from {{fullName}}
    </footer>
</li>