<form class='text-center border border-light p-5' method='post'>

	<div class='form-group'>
		<label for='username'>Username</label>
		<input type='text' class='form-control' placeholder='Username' name='username' value="{{body.username}}"/>
	</div>
	
	<div class='form-group'>
		<label for='password'>Password</label>
		<input type='password' class='form-control' placeholder='Password' name='password' />
	</div>

	<div class='form-group'>
		<label for='rePassword'>Repeat Password</label>
		<input type='password' class='form-control' placeholder='Repeat-Password' name='repass' />
	</div>

	<button type='submit' class='btn btn-primary'>Register</button>
</form>