body {
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    font-family: Helvetica, sans-serif;
}

header {
    border-bottom: 3px solid #000;
}

header p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5rem;
    text-indent: 1.7rem;
    margin-bottom: 1rem;
}

main {
    margin: 2rem 1.7rem;
}

main p {
    line-height: 1.3;
}

footer {
    background-color: rgb(102, 102, 102);
}

footer p {
    color: rgb(255, 255, 255);
    margin-left: 1.7rem;
}