<div class="bg-cover bg-no-repeat bg-[url('/assets/stadium.webp')]" style="height: 76.5%">
  <div class="h-full w-full bg-black bg-opacity-40">
    <div class="flex h-full items-center justify-center">
      <div class="px-6 text-center text-white md:px-12">
        <h1 class="mb-10 text-6xl font-bold">Welcome to the world of football</h1>
        <h1 class="mb-6 text-4xl font-bold">See your favoruite players</h1>
        <a routerLink="/players"
          class="cursor-pointer md:hover:bg-green-600 inline-block rounded border-2 border-neutral-50 px-12 pb-[8px] pt-2
          text-base font-medium uppercase leading-normal text-neutral-50 transition duration-450 ease-in-out">
          Players <i class="ml-2 fa-solid fa-futbol"></i>
        </a>
      </div>
    </div>
  </div>
</div>


