.flex-container {
  display: flex;
  background-color: DodgerBlue;
  width: 350px;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  flex-basis: 120px;
}
