main {
    width: 398px;
    background-color: #ddd;
    border: 1px solid #000;
    margin-left: 20px;
    padding: 10px;
    line-height: 1.2;
}

h1 {
    text-align: center;
}

p {
    font-size: 16px;
}

q::before {
    content: open-quote;
}

q::after {
    content: close-quote;
}