<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link href="/static/css/style.css" type="text/css" rel="stylesheet">

</head>

<body>

	<nav>
		<a>Theater</a>
		<ul>
			<li><a href="/">Home </a></li>
			{{#if username}}
				<li><a href="/auth/logout">Logout</a></li>
			{{else}}
				<li><a href="/auth/login">Login</a></li>
				<li><a href="/auth/register">Register</a></li>
			{{/if}}
		</ul>
	</nav>

	{{#if errors}}
		<section class="notifications error">
			{{#each errors}}
				<p>{{this}}</p>
			{{/each}}
		</section>
	{{/if}}


	<main> 
		{{{body}}}
	</main>

	<footer>
		<div>© 2020
			<a href="https://softuni.bg/courses/js-back-end">JS Back-End</a>
		</div>
	</footer>

</body>

</html>