* {
  box-sizing: border-box;
}

.box {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: red;
  color: white;
}

#two {
  top: 20px;
  left: 20px;
  background: blue;
  position: relative;
}