<section id='viewAddhotel'>
	<h2>Add new hotel</h2>
	<form id='formAddhotel' method="post">
		<label for='hotel'>Hotel name:</label>
		<input type='text' id='hotel' name='name' placeholder='Hotel name' value="{{body.name}}"/>

		<label for='city'>City:</label>
		<input type='text' id='city' name='city' placeholder='City' value="{{body.city}}"/>

		<label for='free-rooms'>Free rooms:</label>
		<input type='number' id='free-rooms' name='rooms' placeholder='Free rooms' value="{{body.rooms}}"/>

		<label for='imgUrl'>Image:</label>
		<input type='text' id='imgUrl' name='imgUrl' placeholder='https://' value="{{body.imgUrl}}"/>


		<input type='submit' class='create' value='Add' />
	</form>
</section>