<section id='viewLogin'>
	<h2>Login:</h2>
	<form id='formLogin' method="POST">

		<label for='username'>Email:</label>
		<input type='text' id='username' name='email' placeholder='Enter your Email' value="{{body.email}}"/>

		<label for='password'>Password:</label>
		<input type='password' id='password' name='password' placeholder='Enter your Password' />

		<input type='submit' class='login' value='Login' />
	</form>
</section>