<section id='viewRegister'>
	<h2>Create your account:</h2>
	<form id='formRegister' method='POST'>

		<label for='email'>Email:</label>
		<input type='text' id='email' name='email' placeholder='Email' value="{{body.email}}"/>

		<label for='username'>Username:</label>
		<input type='text' id='username' name='username' placeholder='Enter your Username' value="{{body.username}}"/>

		<label for='password'>Password:</label>
		<input type='password' id='password' name='password' placeholder='Password' />

		<label for='rePassword'>Repeat Password:</label>
		<input type='password' id='rePassword' name='repass' placeholder='Repeat Password' />

		<input type='submit' class='register' value='Register' />
	</form>
</section>