@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    max-width: 1400px;
    margin: 6rem auto;
    text-align: center;
}

.wrapper h1 {
    font-size: 2.75rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.wrapper h1 span {
    color: #a4c639;
}

.wrapper > p {
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin-bottom: 6rem;
}

.wrapper ul {
    display: flex;
    gap: 2rem;
}

.wrapper ul li {
    text-align: left;
    width: 33%;
    background-color: #f7f7f7;
}

.wrapper ul li img {
    width: 100%;
}

.wrapper ul li .info {
    padding: 2.5rem 2rem;
}

.wrapper ul li .info h2 {
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.wrapper ul li .info p {
    font-size: 1.15rem;
    line-height: 2;
    margin-bottom: 1.5rem;
}

.wrapper ul li .info a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #a4c639;
    font-size: 1.1rem;
    font-weight: 700;
    padding: 1.25rem 2.5rem;
    border-radius: 2rem;
}