<section id="home-page" class="background-image">
    <div class="home-container">

        <div class="info">
            <h1>Discover Your Perfect Home</h1>
            <h2>The Best Real Estate Deals</h2>
        </div>

    </div>
</section>

<section id="top-houses">
    <h1>Top Houses</h1>
    <div class="houses">
        {{#if estates}}
            {{#each estates}}
                {{>homeEstate}}
            {{/each}}
        {{else}}
            <div class="no-data-container">
                <p class="no-data">There are no housing offers found...</p>
            </div>
        {{/if}}
    </div>
</section>