<section id="register-page">

    <div class="boxs">
        <div class="card-image">
            <h2 class="card-heading">
                Create your account
            </h2>
        </div>

        <form class="card-form" method="POST">

            <div class="input">
                <input type="text" class="input-field" placeholder="Alexander Parkinson" id="name" name="name" value="{{body.name}}" />
                <label class="name">Full Name</label>
            </div>

            <div class="input">
                <input type="text" class="input-field" placeholder="alexander" id="username" name="username" value="{{body.username}}" />
                <label class="username">Username</label>
            </div>

            <div class="input">
                <input type="password" class="input-field" id="password" name="password" placeholder="******" />
                <label class="password">Password</label>
            </div>

            <div class="input">
                <input type="password" class="input-field" id="re-password" name="repass" placeholder="******" />
                <label class="re-password">Repeat Password</label>
            </div>

            <div class="action">
                <button class="action-button">Get started</button>
            </div>

        </form>

        <div class="card-info">
            <small>Already have an account?<a href="/auth/login"> Sign in</a>
            </small>
        </div>
    </div>
</section>