<form method="post" class="cat-form">
	<h2>Add Cat</h2>
	<label for="name">Name</label>
	<input name="name" type="text" id="name">
	<label for="description">Description</label>
	<textarea name="description" id="description"></textarea>
	<label for="image">Image</label>
	<input name="imageUrl" type="text" id="image">
	<label for="group">Breed</label>
	<input name="breed" type="text" id="group" />
	<input type="submit" value="Add Cat">
</form>