<div class="card">
    <h3>{{name}}</h3>
    <p>{{description}}</p>

    <div class="cta-container"><a href="/estates/{{_id}}/details" class="det-link">Details</a></div>
    <div class="card_circle"><img src="{{image}}"></div>

</div>
