<div class="card-home">
    <h2>{{name}}</h2>
    <div class="cta-container"><a href="/estates/{{_id}}/details" class="details-link">Details</a></div>
    <div class="card_image"><img src="{{image}}"></div>
</div>