<section id="not-found-page">
    <article class="not-found-page-content">
        <h1>404</h1>
        <p>The Page you are looking for doesn't exist or another error occurred.</p>
        <a href="/" class="view-home-page">Home Page</a>
    </article>
    <article class="not-found-page-image">
        <img src="/static/img/man.png" alt="man">
    </article>
</section>