<section id="edit-page">
	<article class="edit-page-container">
		<form method="post" class="edit-page-form">
			<h2>Edit an ad</h2>

			<label for="headline">Headline:</label>
			<input type="text" id="headline" name="headline" value="{{ad.headline}}" />

			<label for="location">Location:</label>
			<input type="text" id="location" name="location" value="{{ad.location}}" />

			<label for="company-name">Company name:</label>
			<input type="text" id="company-name" name="name" value="{{ad.name}}" />

			<label for="company-description">Company description:</label>
			<input type="text" id="company-description" name="description" value="{{ad.description}}" />

			<article class="edit-page-button">
				<button class="btn-edit-ads">Edit</button>
			</article>
		</form>

		<article class="edit-page-image">
			<img src="/static/img/job.png" alt="image" />
		</article>
	</article>
</section>
