<div [ngClass]="!players ? 'h-screen' : ''" class="relative bg-cover bg-no-repeat bg-cover bg-[url('/assets/field.jpg')]">
  <h1 class="block text-white mb-5 pt-2 text-3xl font-medium leading-tight flex items-center justify-center">All players</h1>
  <section class="ml-2 mb-5 flex list-none flex-col flex-wrap pl-0 md:flex-row gap-5 justify-around">

    <!-- SERVER ERROR -->
    <div *ngIf="errorMessage" class="block text-sm font-medium text-gray-900 dark:text-white">
      {{ errorMessage }} <i class="fa-solid fa-xmark"></i>
    </div>

    <ng-container *ngIf="players; else loading">
      <ng-container *ngIf="players.length > 0; else noPlayers">
        <ng-container *ngFor="let player of players">
          <!-- PLAYER CARD -->
          <app-player [player]="player"></app-player>
        </ng-container>
      </ng-container>
    </ng-container>

    <!-- NO RESULTS -->
    <ng-template #noPlayers>
      <h1 class="text-neutral-900 mb-6 text-6xl font-medium leading-tight h-screen flex flex-col items-center justify-center">
        No added players yet! Be the first one.
      </h1>
    </ng-template>

    <!-- LOADER -->
    <ng-template #loading>
      <app-loader></app-loader>
    </ng-template>
    
  </section>
</div>
