@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css";

html {
  font-family: DM Sans;
  font-size: 16px;
  line-height: 1.15;
}
body {
  margin: 0;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-transform: undefined;
  letter-spacing: normal;
  line-height: 1.3;
  color: #191919ff;
  background-color: #ffffff;
}
* {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}
img {
  display: block;
}
.button {
  color: #0f1722ff;
  display: inline-block;
  padding: 0.5rem 1rem;
  text-align: center;
  border-color: #0f1722ff;
  border-width: 0px;
  border-radius: 4px;
  background-color: #ffffff;
}
.input {
  color: #0f1722ff;
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: #0f1722ff;
  border-width: 1px;
  border-radius: 4px;
  background-color: #ffffff;
}
.textarea {
  color: #0f1722ff;
  cursor: auto;
  padding: 0.5rem;
  border-color: #0f1722ff;
  border-width: 1px;
  border-radius: 4px;
  background-color: #ffffff;
}
.section-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 96px;
  flex-direction: column;
  padding-bottom: 96px;
}
.max-content-container {
  width: 100%;
  display: flex;
  z-index: 1;
  max-width: 988px;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  flex-direction: column;
  justify-content: center;
}
.button-primary {
  color: #ffffff;
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  line-height: 1;
  border-color: transparent;
  border-radius: 4px;
  background-color: #914332ff;
}
.button-primary:hover {
  color: #191919ff;
  background-color: rgba(0, 0, 0, 0.1);
}
.button-lg {
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
}
.button-md {
  padding-top: 12px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
}
.button-secondary {
  color: #191919;
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  line-height: 1;
  border-color: transparent;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.1);
}
.button-secondary:hover {
  color: #ffffff;
  background-color: #914332ff;
}
.button-secondary-white {
  color: #191919;
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  line-height: 1;
  border-color: transparent;
  border-radius: 4px;
  background-color: #ffffff;
}
.button-secondary-white:hover {
  color: #ffffff;
  background-color: #914332ff;
}
.tab-selector-btn {
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  line-height: 21px;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
}
.tab-selector-btn:hover {
  box-shadow: inset 0px -2px 0px #b6472f;
}
.Navigation-Link {
  font-size: 16px;
  font-family: DM Sans;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-decoration: none;
}
.Heading2 {
  font-size: 46px;
  font-family: DM Serif Display;
  font-weight: 400;
  line-height: 63px;
  letter-spacing: 0.01em;
  text-decoration: none;
}
.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-text {
  cursor: pointer;
  transition: 0.3s;
}
.navigation-links-text:hover {
  color: #914332ff;
}
.navigation-links-text1 {
  cursor: pointer;
  transition: 0.3s;
  margin-left: 41px;
}
.navigation-links-text1:hover {
  color: #914332ff;
}
.navigation-links-text2 {
  cursor: pointer;
  transition: 0.3s;
  margin-left: 41px;
}
.navigation-links-text2:hover {
  color: #914332ff;
}
.navigation-links-text3 {
  cursor: pointer;
  transition: 0.3s;
  margin-left: 41px;
}
.navigation-links-text3:hover {
  color: #914332ff;
}
.navigation-links-root-class-name17 {
  margin-right: 48px;
}
.navigation-header {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
.navigation-max-width {
  width: 100%;
  display: flex;
  max-width: 988px;
  align-items: center;
  padding-top: 32px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 32px;
  justify-content: space-between;
}
.navigation-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-icon2 {
  width: 24px;
  height: 24px;
}
.portofolio-card-speaker-card {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.portofolio-card-image-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  min-width: 300px;
  max-height: 313px;
  min-height: 313px;
  align-items: flex-end;
  margin-bottom: 16px;
  justify-content: flex-end;
}
.portofolio-card-image {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  position: absolute;
  object-fit: cover;
  border-radius: 8px;
}
.portofolio-card-see-project-container {
  flex: 1;
  width: 100%;
  cursor: pointer;
  display: flex;
  opacity: 0;
  z-index: 1;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(.jpg);
  transition: 0.3s;
  align-items: center;
  border-radius: 8px;
  flex-direction: row;
  justify-content: center;
}
.portofolio-card-see-project-container:hover {
  opacity: 1;
}
.portofolio-card-first-name {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
}
.home-container {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
}
.home-main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-portofolio {
  padding-top: 103px;
  margin-bottom: 32px;
  padding-bottom: 0px;
}
.home-max-width {
  flex-direction: column;
}
.home-text-container {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
}
.home-text, .home-text04 {
  color: #914332ff;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-bottom: 4px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.home-text01 {
  text-align: center;
  margin-bottom: 16px;
}
.home-text02 {
  color: #191919cc;
  text-align: center;
  line-height: 26px;
  margin-bottom: 32px;
}
.home-tab-selector-header {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 48px;
  flex-direction: row;
  justify-content: center;
}
.home-text03 {
  margin-right: 30px;
}
.home-tab-selector-cards-container {
  width: 100%;
  display: grid;
  grid-row-gap: 40px;
  grid-column-gap: 20px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
}
.home-about {
  background-color: #f9f4f0ff;
}
.home-max-width1 {
  flex-direction: row;
  justify-content: space-between;
}
.home-text-container1 {
  flex: 1;
  width: 40%;
  display: flex;
  align-items: flex-start;
  margin-right: 16px;
  flex-direction: column;
}
.home-text05 {
  text-align: center;
  margin-bottom: 24px;
}
.home-text06 {
  color: #191919cc;
  line-height: 26px;
  margin-bottom: 32px;
}
.home-checklist {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-check-item {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  flex-direction: row;
}
.home-text07 {
  font-style: normal;
  font-weight: 500;
}
.home-image {
  flex: 1;
  width: 503px;
  height: 575px;
  object-fit: cover;
  margin-right: 0px;
  border-radius: 8px;
}
.home-process {
  background-color: #914332ff;
}
.home-max-width2 {
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.home-text08 {
  color: #ffffff;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-bottom: 4px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.home-text09 {
  color: #ffffff;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-step {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  border-color: rgba(255, 255, 255, 0.2);
  border-width: 1px;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: row;
  padding-bottom: 53px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
}
.home-text10 {
  color: #ffffff;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 61px;
  margin-right: 180px;
}
.home-container1 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text11 {
  color: #ffffff;
  font-size: 24px;
  line-height: 31px;
  margin-bottom: 16px;
}
.home-text12 {
  color: #ffffffcc;
}
.home-top-part {
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.home-links-container {
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-product-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text13 {
  color: #914332ff;
  font-weight: 700;
  margin-bottom: 24px;
}
.home-text14 {
  margin-bottom: 16px;
}
.home-navigate-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-contact-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-subscribe-container {
  flex: 0 0 auto;
  width: 35%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-textinput {
  outline: none;
  align-self: stretch;
  padding-top: 4px;
  border-color: rgba(0, 0, 0, 0.1);
  padding-left: 0px;
  border-radius: 0px;
  margin-bottom: 32px;
  padding-bottom: 4px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
}