<article class="content-publication">
    <h1>Title: {{title}}</h1>

    <p>Number of people shared the publication: {{sharers.length}}</p>
    <a href="/publications/{{_id}}/details" class="image-details">View publication</a>
</article>