<div class="container">
    <div class="col-9">
        {{#if photos}}
            {{#each photos}}
                {{>photo}}
            {{/each}}
        {{else}}
            <article class="not-available-photo">
                <h1>No photo posts yet.</h1>
            </article>
        {{/if}}
    </div>
</div>