<section class="crypto-market">
    <h1><span>Crypto</span> Trade</h1>
    {{#if cryptos}}
    <div class="offer-list">
        {{#each cryptos}}
            {{>crypto}}
        {{/each}}
    </div>
    {{else}}
        <div class="no-offer">
            <p>There are no crypto offers found!</p>
        </div>
    {{/if}}
</section>