<div class="content">
	<h1>BUY & <br />SELL <span>Crypto</span></h1>
	<p>
		A crypto is a digital currency designed to work as a medium of
		<br />exchange through a computer network that is not reliant on any
		central authority.
	</p>
	<a href="/crypto/create" class="trade">TRADE</a>
</div>

<div class="coin-list">
	<div class="coin">
		<img src="/static/images/bitcoin.png" />
		<div>
			<h3>$31,166.71</h3>
			<p>Bitcoin</p>
		</div>
	</div>
	<div class="coin">
		<img src="/static/images/ethereum.png" />
		<div>
			<h3>$2,338.55</h3>
			<p>Ethereum</p>
		</div>
	</div>
	<div class="coin">
		<img src="/static/images/dogecoin.png" />
		<div>
			<h3>$0.09478</h3>
			<p>Dogecoin</p>
		</div>
	</div>
</div>