<div class="login-box">

    <h1>Login</h1>

    <form method="POST">

        <label>Email</label>
        <input type="text" name="email" placeholder="Email.." value="{{body.email}}"/>

        <label>Password</label>
        <input type="password" name="password" placeholder="Password.." />

        <input type="submit" value="Submit" />
    </form>

    <p>Not have an account? <a href="/auth/register">Register here</a></p>
</div>