<section class="crypto-search">
	<h1>Search</h1>

	<form class="search-form">
		<input type="text" class="search-coin" name="name" placeholder="Search here..." value="{{nameSearch}}"/>
		<select id="payment" name="payment">
			{{#select paymentSearch}}
				<option value="crypto-wallet">Crypto Wallet</option>
				<option value="credit-card">Credit Card</option>
				<option value="debit-card">Debit Card</option>
				<option value="paypal">PayPal</option>
			{{/select}}
		</select>
		<button type="submit" class="btn-search">Search</button>
	</form>

	{{#if cryptos}}
		<div class="search-result">
			<div class="search-list">
				{{#each cryptos}}
					{{>crypto}}
				{{/each}}
			</div>
		</div>
	{{else}}
		<div class="no-match">
			<p>No match was found!</p>
		</div>
	{{/if}}
</section>