#gallery {
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 220px;
    box-shadow: 0px 0px 10px 2px rgb(111, 44, 122);
}

#gallery>h1 {
    font-size: 44px;
    text-align: center;
    color: white;
    margin-top: -0.9em;
    margin-bottom: 0.5em;
    padding: 5px;
    font-family: 'EB Garamond', serif;
}

.gallery-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1200px;
    margin-bottom: 2em;
    left: 8%;
}

.card-info {
    width: 510px;
    height: 230px;
    display: flex;
    margin-left: 3.5em;
    background-color: #f5f5f5;
    margin-bottom: 1.5em;
}

.card-info-image>img {
    width: 300px;
    padding: 6px 6px 6px 6px;
    height: 230px;
    border-width: 1em;
    border-left-color: violet;
    border-right-color: darkkhaki;
    border-bottom-color: darkslategray;
    border-top-color: #1BC7DD;
    border-style: ridge;
}

.card-info-text {
    width: 210px;
    position: relative;
    height: auto;
}

.card-info-text>h2 {
    font-size: 17px;
    text-align: center;
    line-height: 1.6em;
    word-wrap: break-word;
    margin-top: 5em;
    margin-bottom: 0.2em;
    font-family: 'EB Garamond', serif;
}

.card-info-text>h3 {
    font-size: 14px;
    text-align: center;
    line-height: 1.6em;
    word-wrap: break-word;
    margin-bottom: 1.2em;
    font-family: 'EB Garamond', serif;
}

.details-btn {
    text-align: center;
    width: 100px;
    padding: 2px 2px 2px 2px;
    background-image: linear-gradient(to right, violet, darkslategray);
    display: block;
    color: rgb(22, 6, 6);
    font-weight: bold;
    margin-left: 3.2em;
    font-size: 0.9rem;
    cursor: pointer;
    font-family: 'Barlow', sans-serif;
    box-shadow: 0 0px 13px #6814a094;
}

.details-btn:hover {
    box-shadow: none;
    background-image: linear-gradient(to left, violet, darkkhaki, #1BC7DD, darkslategray);
}

.no-available-publications {
    display: inline;
    text-align: center;
    position: fixed;
    width: 100%;
    padding: 25px;
    margin-left: -7em;
    margin-bottom: 4em;
    margin-top: -1.5em;
    /* box-shadow: 0px 0px 15px 10px rgb(111, 44, 122);*/
}

.no-available-publications>h1 {
    font-size: 25px;
    margin-top: 0.5em;
    padding-bottom: 12px;
    color: white;
    text-align: center;
    font-family: 'Barlow', sans-serif;
}