<section class="bg-cover bg-[url('/assets/field.jpg')]">
  
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
      <div class="w-full rounded-xl md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 opacity-90">
        <div class="md:space-y-6 sm:p-8">
  
          <!-- HEADER -->
          <h1 class="text-center text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">Add player</h1>
  
          <!-- FORM -->
          <form class="md:space-y-6"
            #createForm="ngForm"
            (ngSubmit)="onCreateHandler(createForm)">
  
            <!-- NAME -->
            <div>
              <label for="name" class="block mb-1 text-base font-medium text-gray-900 dark:text-white">Name</label>
              <input
                ngModel
                #name="ngModel"
                name="name"
                id="name"
                autofocus
                class="bg-gray-50 border-2 border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:placeholder-gray-400 dark:text-white"
                placeholder="John Johnson"
                required
                pattern="^[a-zA-Z]+ [a-zA-Z]+$"/>
  
              <!-- NAME ERRORS -->
              <ng-container *ngIf="name.invalid && name.touched">
                <div class="block text-sm font-medium text-gray-900 dark:text-white"
                  *ngIf="name.errors?.['required']">Name is required <i class="fa-solid fa-xmark"></i>
                </div>
                <div class="block text-sm font-medium text-gray-900 dark:text-white"
                  *ngIf="name.errors?.['pattern']">Name must be in format First + Last name <i class="fa-solid fa-xmark"></i>
                </div>
              </ng-container>
            </div>
  
            <!-- IMAGE -->
            <div>
              <label for="image" class="block mb-1 text-base font-medium text-gray-900 dark:text-white">Image</label>
              <input
                ngModel
                #image="ngModel"
                type="text"
                name="image"
                id="image"
                class="bg-gray-50 border-2 border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:placeholder-gray-400 dark:text-white"
                placeholder="Enter Image URL"
                required>
  
              <!-- IMAGE ERRORS -->
              <ng-container *ngIf="image.invalid && image.touched">
                <div class="block text-sm font-medium text-gray-900 dark:text-white"
                  *ngIf="image.errors?.['required']">Image is required <i class="fa-solid fa-xmark"></i>
                </div>
              </ng-container>
            </div>
  
            <!-- AGE -->
            <div>
              <label for="age" class="block mb-1 text-base font-medium text-gray-900 dark:text-white">Age</label>
              <input
                ngModel
                #age="ngModel"
                type="number"
                name="age"
                id="age"
                class="bg-gray-50 border-2 border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:placeholder-gray-400 dark:text-white"
                placeholder="Enter age"
                required
                min="1"
                max="100"/>
              
              <!-- AGE ERRORS -->
              <ng-container *ngIf="age.invalid && age.touched">
                <div class="block text-sm font-medium text-gray-900 dark:text-white"
                  *ngIf="age.errors?.['required']">Age is required <i class="fa-solid fa-xmark"></i>
                </div>
                <div class="block text-sm font-medium text-gray-900 dark:text-white"
                  *ngIf="age.errors?.['min']">Age must be between 0 and 100 <i class="fa-solid fa-xmark"></i>
                </div>
                <div class="block text-sm font-medium text-gray-900 dark:text-white"
                  *ngIf="age.errors?.['max']">Age must be between 0 and 100 <i class="fa-solid fa-xmark"></i>
                </div>
              </ng-container>
            </div>

             <!-- POSITION -->
             <div>
              <label for="position" class="block mb-1 text-base font-medium text-gray-900 dark:text-white">Position</label>
              <input
                ngModel
                #position="ngModel"
                type="text"
                name="position"
                id="position"
                list="positions"
                class="bg-gray-50 border-2 border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:placeholder-gray-400 dark:text-white"
                placeholder="Goalkeeper, Defender, Midfielder or Forward"
                required
                />
                <datalist id="positions">
                  <option value="Goalkeeper">
                  <option value="Defender">
                  <option value="Midfielder">
                  <option value="Forward">
                </datalist>
              
              <!-- POSITION ERRORS -->
              <ng-container *ngIf="position.invalid && position.touched">
                <div class="block text-sm font-medium text-gray-900 dark:text-white"
                  *ngIf="position.errors?.['required']">Position is required <i class="fa-solid fa-xmark"></i>
                </div>
              </ng-container>
            </div>

             <!-- CLUB -->
             <div>
              <label for="club" class="block mb-1 text-base font-medium text-gray-900 dark:text-white">Club</label>
              <input
                ngModel
                #club="ngModel"
                type="text"
                name="club"
                id="club"
                class="bg-gray-50 border-2 border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:placeholder-gray-400 dark:text-white"
                placeholder="Real Madrid"
                required/>
  
              <!-- CLUB ERRORS -->
              <ng-container *ngIf="club.invalid && club.touched">
                <div class="block text-sm font-medium text-gray-900 dark:text-white"
                  *ngIf="club.errors?.['required']">club is required <i class="fa-solid fa-xmark"></i>
                </div>
              </ng-container>
            </div>
  
            <!-- BUTTON -->
            <button
              [disabled]="createForm.invalid"
              type="submit"
              class="cursor-pointer hover:bg-green-600 border-2 border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:text-white"
            >Add
            </button>
  
            <!-- SERVER ERROR -->
            <div class="text-center block mb-1 text-sm font-medium text-gray-900 dark:text-white"
              *ngIf="errorMessage">{{ errorMessage }} <i class="fa-solid fa-xmark"></i>
            </div>
          </form>
  
        </div>
      </div>
    </div>
  </section>