body {
    font: 18px/1.5 Helvetica, sans-serif;
    background-color: #fff;
    max-width: 63rem;
    margin: 0 auto;
}

article {
    margin: 54px;
    padding: 36px;
    border-radius: 16px;
    color: #fff;
    text-indent: 40px;
    background-color: rgb(51, 102, 153);
}

h1 {
    font-family: Georgia, serif;
}