<section id="catalog-section" class="narrow align-center padded">

    <h1 class="item">404 Not Found</h1>

    <div>
        <p>The requested item doesn't exist</p>
        <div class="align-center">
            <a class="action" href="/catalog">Back to catalog</a>
        </div>
    </div>

</section>