<section id="catalog-section" class="spaced">

    <h1 class="item">Auctions</h1>

    {{#if auctions}}
        <ul class="catalog cards">
            {{#each auctions}}
                {{>auction}}
            {{/each}}
        </ul>
    {{else}}
        <div class="item pad-large align-center">
            <p>Nothing has been listed yet. Be the first!</p>
            <div>
                <a class="action" href="/auctions/create">Publish Auction</a>
            </div>
        </div>
    {{/if}}

</section>