<section id="catalog-section">

    <h1 class="item">Home</h1>

    <div class="item">

        <div class="layout left med">
            <div class="col">
                <img src="/static/assets/splash.jpg" class="img-med">
            </div>

            <div class="content pad-med">
                <p>Welcome to the online Auction House.</p>
                <p>Buy and sell items in categories Real Estate, Vehicles, Furniture, Electronics and
                    Others. Browse available items and place your bid. Create a new listing and collect the
                    highest offer.
                </p>

                <div class="align-center">
                    <a class="action" href="/catalog">Browse Listings</a>
                    {{#if email}}
                        <a class="action" href="/auctions/create">Publish Auction</a>
                    {{/if}}
                </div>
            </div>
        </div>

    </div>

</section>