<section id="register-section" class="narrow">

    <h1 class="item">Register</h1>

    <div class="item padded align-center">

        <form class="aligned" method="post">

            <label>
                <span>Email</span>
                <input type="text" name="email" value="{{body.email}}">
            </label>

            <label>
                <span>First name</span>
                <input type="text" name="firstName" value="{{body.firstName}}">
            </label>

            <label>
                <span>Last name</span>
                <input type="text" name="lastName" value="{{body.lastName}}">
            </label>

            <label>
                <span>Password</span>
                <input type="password" name="password">
            </label>

            <label>
                <span>Repeat Password</span>
                <input type="password" name="repass">
            </label>

            <div class="align-center">
                <input class="action" type="submit" value="Create Account">
            </div>

        </form>

    </div>

</section>